@* @model medTurno_Api.Models.Inquilino

@{
    ViewData["Title"] = "Editar";
    int id = Model.Id;
}

@if(!User.Identity.IsAuthenticated)
 {
     await Html.RenderPartialAsync("_Login", new LoginView());
 }
 else
 {

<h1>Editar el Inquilino: @Model.Nombre</h1>

<div class="container">
    <div>
        <form method="post" asp-action="Editar">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label for="dni_id" class="control-label">DNI</label>
                <input type="text" class="form-control" id="dni_id" name="dni" value="@Model.Dni">
            </div>
            <div class="form-group">
                <label for="name_id" class="control-label">Nombre</label>
                <input type="text" class="form-control" id="name_id" name="nombre" value="@Model.Nombre">
            </div>
            <div class="form-group">
                <label for="mail" class="control-label">Mail</label>
                <input type="text" class="form-control" id="mail" name="mail" value="@Model.Mail">
            </div>
            <div class="form-group">
                <label for="dire" class="control-label">Direccion</label>
                <input type="text" class="form-control" id="direccion" name="direccion" value="@Model.Direccion">
            </div>
            <div class="form-group">
                <label for="tel" class="control-label">Tele. de Inquilino</label>
                <input type="text" class="form-control" id="tel_inquilino" name="tel_inquilino" value="@Model.tel_inquilino">
            </div>
            <div class="form-group">
                <label for="trabajo" class="control-label">Lugar de Trabajo</label>
                <input type="text" class="form-control" id="lugartrabajo" name="lugartrabajo" value="@Model.lugarTrabajo">
            </div>
            <div class="form-group">
                <label for="dire" class="control-label">Nombre del Garante</label>
                <input type="text" class="form-control" id="nom_garante" name="nom_garante" value="@Model.nom_garante">
            </div>
            <div class="form-group">
                <label for="dire" class="control-label">DNI del Garante </label>
                <input type="text" class="form-control" id="dni_garante" name="dni_garante" value="@Model.dni_garante">
            </div>
            <div class="form-group">
                <label for="dire" class="control-label">Telef. del garante</label>
                <input type="text" class="form-control" id="tel_garante" name="tel_garante" value="@Model.tel_garante">
            </div>
            <input type="submit" value="Confirmar" />
        </form>
    </div>
</div>
 } *@